<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.tjpu.dao.ClazzDao">
    <insert id="addClazz" parameterType="clazz" useGeneratedKeys="true" keyProperty="id">
      insert into clazz(name) values(#{name})
    </insert>
    <select id="getClazzByName" parameterType="clazz" resultType="clazz">
        select * from clazz where name=#{name}
    </select>
    <select id="getAllClazz" resultType="clazz">
        select * from clazz
    </select>
    <select id="getClazzByTeacherId" parameterType="cn.edu.tjpu.base.QueryParams" resultType="clazz">
        select distinct t.* from teacher_extend s left join  clazz t on s.clazzId = t.id
        left join experiment a on s.experimentId = a.id
        where 1=1
        <if test="teacherId!='admin'">
            and s.teacherId = #{teacherId}
        </if>
        <if test="semesterId!=null and semesterId!=''">
            and s.semesterId = #{semesterId}
        </if>
        <if test="courseId!=null and courseId!=''">
            and s.courseId = #{courseId}
        </if>
        <if test="experimentId!=null and experimentId!=''">
            and s.experimentId = #{experimentId}
        </if>
    </select>
</mapper>