<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.tjpu.dao.SemesterDao">
    <insert id="addSemester" parameterType="semester" useGeneratedKeys="true" keyProperty="id">
      insert into semester(number) values(#{number})
    </insert>
    <select id="getSemesterByNumber" parameterType="semester" resultType="semester">
        select * from semester where number=#{number}
    </select>
</mapper>