<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.tjpu.dao.TeacherExtendDao">
    <select id="getTeacherExtends" resultType="teacherExtend">
        select * from teacher_extend where teacherId in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and clazzId=#{clazzId}
        and courseId=#{courseId}
        and semesterId=#{semesterId}
        and experimentId in
        <foreach collection="experimentIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!-- 批量插入 -->
    <insert id ="batchAddTeacherExtend" parameterType="list" >
        insert into teacher_extend
        (semesterId,courseId,clazzId,teacherId,experimentId)
        values
        <foreach collection ="list" item="teacherExtend" index= "index" separator =",">
            <foreach collection="teacherExtend.experimentIds" item="experimentId" separator =",">
                (#{teacherExtend.semesterId},#{teacherExtend.courseId},#{teacherExtend.clazzId},#{teacherExtend.teacherId},#{experimentId})
            </foreach>
        </foreach >
    </insert >
    <select id="getExperimentByTeacherId" parameterType="cn.edu.tjpu.base.QueryParams" resultType="map">
        SELECT distinct t.* from teacher_extend s LEFT JOIN experiment t on s.experimentId = t.id
        left join semester r on s.semesterId = r.id
        WHERE 1=1
        and teacherId=#{teacherId}
        and courseId=#{courseId}
        and r.number=#{semesterNumber}
    </select>
</mapper>